body{
    font-family : 'Open Sans';
    margin: 0 15% 20px 15%;
}

h1{
    font-size: 56px;
}

h2{
    color: black;
    font-size: 32px;
}

hr{
    border: 1px solid #B0AFAF;
    margin: 20px -10px 60px -10px;
}

#subtítulo{
    color: #555555;
    font-size: 18px;
}

#data{
    font-size: 12px;
}

main{
    margin: 0 10% 0 10%;
    text-align: justify;
    color: #333333;
}

span, ul{
    font-weight: bold;
    color: #A6130A;
}

li{
    margin: 15px;
}

blockquote{
    text-align: left;
    font-weight: bold;
    font-size: 28px;
    border-left: 3px solid #A6130A;
    padding-left: 20px;
    margin-left: 0;
}